video {
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 864px) {

    #maquina-info{
        width: 100% !important;
    }

    #codigo-qr{
        width: 100% !important;
    }
}